@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #274c77;
}
.container{
    width: 60%;
    
    min-height: 70%;
    max-height: 95%;
    background-color: #669bbc;
    border-radius: 50px;
}
button{
    font-family: inherit;
    cursor: pointer;
    color: #fff; 
    border-radius: 10px;
    padding: 10px; 
}
button:hover{
    opacity: 0.8;
    border: 2px solid #fff;
}